body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; 
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center; 
  margin-top: 20px;
  color: rgb(243, 186, 82);
}

iframe {
  display: block;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  iframe {
    width: 95%;
    height: 300px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h3 {
  margin: 15px 0;
  color: #0044cc;
}

.card p {
  color: #555;
  font-size: 0.9em;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0044cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
